//
//  Config.xcconfig
//  desafio-ios-paulo-souza
//
//  Created by Paulo Alfredo Coraini de Souza on 13/03/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARVEL_PUBLIC_KEY = 37782f8bf85ef63d5369604fb1c8f132
MARVEL_PRIVATE_KEY = 230bbf6bc93511ee44a6c92a49a2da3cf36320e5
